.biosection {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	text-align: left;
	justify-content: center;
	align-items: flex-start;
	padding: 100px 20%;
	&__title {
		font-size: 16px;
		color: $green;
		font-weight: 400;
	}
	&__name {
		color: $lightest-slate;
		font-size: 80px;
		font-weight: 600;
		margin: 10px 0;
	}
	&__role {
		font-size: 80px;
		font-weight: 600;
		margin-top: -10px;
		color: $slate;
	}
	&__description {
		margin-top: 6px;
		max-width: 540px;
		color: $slate;
		font-size: 20px;
		margin-bottom: 50px;
		line-height: 26px;
	}
}

@media only screen and (max-width: 1062px) {
	.biosection {
		padding: 100px 10%;

		&__name {
			font-size: 50px;
		}
		&__role {
			font-size: 50px;
		}
		&__description {
			font-size: 16px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.biosection {
		padding: 100px 8%;

		&__name {
			font-size: 30px;
		}
		&__role {
			font-size: 30px;
		}
		&__description {
			font-size: 14px;
		}
	}
}
