.projectBox {
	transition: 0.2s ease-in-out;
	padding: 28px 32px;
	background-color: $light-navy;
	display: flex;
	border-radius: 4px;
	flex-direction: column;
	flex-basis: 31%;

	&:hover {
		transform: translateY(-10px);
		.projectBox__title {
			color: $green;
		}
	}

	&__topSection {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 22px;

		&__github {
			border: 0 !important;
			padding: 0;
			&:hover {
				background-color: transparent;
			}
		}
	}

	&__title {
		font-size: 22px;
		margin-bottom: 12px;
		color: $lightest-slate;
	}

	&__description {
		color: $light-slate;
		font-size: 17px;
		margin-bottom: 20px;
	}

	&__stackAndSkills {
		display: flex;
		column-gap: 14px;
		color: $slate;
		font-size: 14px;
	}
}
